/* Configurações Básicas */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* Cabeçalho Fixo */
.fixed-header {
  position: fixed; /* Mantém fixo no topo */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0073e6;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.fixed-header .logo h1 {
  font-size: 2rem;
  margin: 0;
}
/* Estilo para a Página de Erro */
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
}

/* Estilo para Mensagem de Erro */
.error-message {
  font-size: 1.5rem; /* Maior para destaque */
  font-weight: bold; /* Destaque visual */
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.8; /* Melhor espaçamento entre linhas */
}

/* Estilo do Link */
a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0073e6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #005bb5;
}

/* Contêiner para a Imagem SVG */
.svg-container {
  width: 300px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção */
  margin: 20px auto; /* Centraliza a imagem */
}

.svg-container img {
  width: 100%; /* Faz a imagem ocupar toda a largura do contêiner */
  height: auto; /* Mantém a proporção */
  display: block; /* Remove espaços indesejados ao redor da imagem */
}
