/* Reutiliza o mesmo estilo do login */
@import url("login.css");


footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f4f4f4;
  color: #333;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
  position: absolute; /* Altere para absolute */
  bottom: 0;
  width: 100%; /* Garante largura total */
  height: 40px; /* Define altura fixa */
}

html, body {
  height: 100%; /* Garante que body ocupe toda a tela */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.register-container {
  flex: 1; /* Faz com que o conteúdo cresça e o footer fique no final */
}
.register-container h1 {
  color: #28a745; /* Altere a cor para diferenciar o título */
}