/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0073e6;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005bb5;
}

.question-header h2 {
    margin: 0;
}

.answers label {
    display: block;
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}


.example {
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-left: 4px solid #007bff;
    border-radius: 5px;
}

.answers {
    margin-top: 20px;
}

.example pre {
    background: #e8e8e8;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    overflow-x: auto;
}

.example.visible {
    display: block; /* Exibe somente se houver conteúdo */
}

